<h1>Homepage - View all our listings!</h1>
<hr>
<label for="searchListing">Search Listing:</label>
<input type="text" placeholder="Search Listings..." onkeyup="searchListingPage()" name="searchLisitng" id="searchListing">
<br><br>
<label for="filterSelect">Filter</label>
<select name="filterSelect" id="filterSelect">
  <option value="price">Price</option>
  <option value="volume">Volume</option>
  <option value="availability">Avalability</option>
</select>
<label for="filterFrom">From</label>
<input type="text" id="filterFrom" placeholder="Filter from">
<label for="filterTo">To</label>
<input type="text" id="filterTo" placeholder="Filter to">
<button id="filterButton" onclick="filter()">Filter</button>
<button onclick="resetFilter()">Reset filters</button>
<div>
  <p id="filterError"></p>
</div>

<div>
{{#if noListings}}
<br><br>
<p>We currently have no listings! <a href="/listing/add">Add a listing now</a></p>
{{/if}}
</div>

<div class="sponsoredListings">
<p>Sponsored Listings:</p>
<ul class="sponsoredListings">
  {{#if noSponsoredListings}}
  <p>We currently have no sponsored listings! <a href="/profile">Go to your profile page to boost your listing! </a></p>
  {{/if}}
  {{#each sponsoredListings}}
    <li class="sponsoredListings">
      <h2><a href="/listing/{{this._id}}">{{this.title}}</a></h2>
      <p>{{this.description}}</p>
      <p>Price: {{this.price}}</p>
      <p class="listingPrice" hidden>{{this.price}}</p>
      <p>Start Date: {{this.listing_AvailableStartInput}}</p>
      <p>End Date: {{this.listing_AvailableEndInput}}</p>
      <p class="listingVolume" hidden>{{this.volume}}</p>
      <p class="listingAvailableStartInput" hidden>{{this.listing_AvailableStartInput}}</p>
      <p class="listingAvailableEndInput" hidden>{{this.listing_AvailableEndInput}}</p>
    </li>
  {{/each}}
</ul>
</div>

<div id ="map_homepage"></div>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script type="module">

    if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var map = new google.maps.Map(document.getElementById('map_homepage'), {
              zoom: 14,
              center: pos
            });
  
  var markerPositions = []
  
  let lat = null
  let longs = null
    {{#each listings}}
         lat = {{this.latitude }}
         longs = {{ this.longitude }}
        markerPositions.push ({position : {lat : lat, lng: longs } });

    {{/each}}

console.log("Makers = ", markerPositions)

  // Loop through the markerPositions array and create a marker for each set of coordinates
  for (var i = 0; i < markerPositions.length; i++) {
    var marker = new google.maps.Marker({
      position: markerPositions[i].position,
      map: map,
      icon: markerPositions[i].icon
    });
  }    
   }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        var errorDiv = document.createElement('div');
        errorDiv.innerHTML = "Error: The Geolocation service failed. Your browser doesn't support geolocation.";
        document.body.appendChild(errorDiv);
      }
</script>


<div>
<ul>
  {{#each listings}}
    <li class="homepageListings">
      <h2><a href="/listing/{{this._id}}">{{this.title}}</a></h2>
      <p>{{this.description}}</p>
      <p>Price: {{this.price}}</p>
      <p class="listingPrice" hidden>{{this.price}}</p>
      <p>Start Date: {{this.listing_AvailableStartInput}}</p>
      <p>End Date: {{this.listing_AvailableEndInput}}</p>
      <p class="listingVolume" hidden>{{this.volume}}</p>
      <p class="listingAvailableStartInput" hidden>{{this.listing_AvailableStartInput}}</p>
      <p class="listingAvailableEndInput" hidden>{{this.listing_AvailableEndInput}}</p>
    </li>
  {{/each}}
</ul>

</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9w7c6s9zaAOX2G2veo-nrwNZ0zZMCkHY&callback=initMap">



