<h1>This is the Homepage where we show all listings</h1>
<ul>
  {{#each listings}}
    <li>
      <h2><a href="/listing/{{this._id}}">{{this.title}}</a></h2>
      <p>{{this.description}}</p>
      <p>Price: ${{this.price}}</p>
      <p>Start Date: ${{this.listing_AvailableStartInput}}</p>
      <p>End Date: ${{this.listing_AvailableEndInput}}</p>
    </li>
  {{/each}}
</ul>

<br><br>
<a href="listing/add">Make new listing</a>
<br>
<a href="/profile">My Profile</a>
