<h1>{{listing.title}}</h1> 
<hr>
<br><br>

<table id="listingTable">
    <tr>
        <td>Author</td>
        <td>{{user}}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{listing.address}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{listing.price}}</td>
    </tr>
    <tr>
        <td>Available Space</td>
        <td>
            <ul>
                <li>Length: {{listing.length}}</li>
                <li>Width: {{listing.width}}</li>
                <li>Height: {{listing.height}}</li>
                <li>Volume: {{listing.volume}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Listing Start Date</td>
        <td>{{listing.listing_AvailableStartInput}}</td>
    </tr>
    <tr>
        <td>Listing End Date</td>
        <td>{{listing.listing_AvailableEndInput}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{listing.description}}</td>
    </tr>
</table>
<br><br>
{{#if listing.image}}
<img src="http://localhost:3000/data/uploads/{{listing.image}}" alt="">
{{/if}}
<div class="share-btn-container">
    <p>Share on Whatsapp:</p>
    <a href="#" class="whatsapp-btn">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>
<div>
    <form id="review_input_form">
    <input type="hidden" value={{listing._id}} id="listing_id_input">
    <label for="rating_select">Add Your Rating: <select name="rating_select" id="rating_select">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </label>
    <br><br>
    <label for="listing_comment_input">Add Your Comment: <br> <textarea name="listing_comment_input" id="listing_comment_input"></textarea></label>
    <br>
    <input type="submit">
    </form>
</div>

<div id="review_added"></div>

<br><br>
<h2>Current Reviews:</h2>
<ol id="current_added_reviews">
  {{#each reviews}}
    <li>Rating: {{this.rating}}<br>Comment: {{this.comment}}</p>
    </li>
  {{/each}}
</ol>
<br><br>

<form action="/listing/{{listing._id}}" method="POST" id="requesting-booking">
  <input type="submit" id="requestBooking" name="requestBooking" value="Request a Booking!">
</form>

<h3><a href="/homepage">Back to Homepage</a></h2>







