<h1>{{listing.title}}</h1> 
<hr>
<br>

<h2>Listing Description:</h2>
<div class = "grid-container">
<div>
<table id="listingTable">
    <tr>
        <td>Author</td>
        <td><a href = "/users/{{userInfo._id}}">{{userInfo.firstName}} {{userInfo.lastName}} </a><br>
            (Rated {{userInfo.rating}} from {{userInfo.reviews.length}} reviews)
        </a></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{listing.address}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>${{listing.price}} per month</td>
    </tr>
    <tr>
        <td>Available Space</td>
        <td>
            <ul>
                <li>Length: {{listing.length}}</li>
                <li>Width: {{listing.width}}</li>
                <li>Height: {{listing.height}}</li>
                <li>Volume: {{listing.volume}} cubic feet</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Listing Start Date</td>
        <td>{{listing.listing_AvailableStartInput}}</td>
    </tr>
    <tr>
        <td>Listing End Date</td>
        <td>{{listing.listing_AvailableEndInput}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{listing.description}}</td>
    </tr>
</table>
<br>
<div class = "grid-container">
  <div>
  <form action="/listing/{{listing._id}}" method="POST" id="requesting-booking">
    <input class="listing-buttons-requesting-booking" type="submit" id="requestBooking" name="requestBooking" value="Request a Booking!">
  </form>
  </div>
  <div>
  <form action="/listing/save/{{listing._id}}" method="POST" id="save-listing">
    <input class="listing-buttons-save-listing" type="submit" id="saveListing" name="saveListing" value="Save this Listing">
  </form>
  </div>
  <div>
    <br>
    <button class="listing-buttons-message-owner" onclick="window.location.href='/message/newMessage/{{userInfo._id}}';">Message Listing Owner! <i class="fa fa-edit-1"></i></button>
    <br><br>
  </div>
</div>

</div>

<div id = "map_listing">


<script type="module">

            if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            let lat = {{listing.latitude }}
            let longs = {{ listing.longitude }}
            
            var pos = {
              lat: lat,
              lng: longs
            };
            var map = new google.maps.Map(document.getElementById('map_listing'), {
              zoom: 14,
              center: pos
            });

  

  
  var markerPositions = [{position : {lat : lat, lng: longs } }];


  // Loop through the markerPositions array and create a marker for each set of coordinates
  for (var i = 0; i < markerPositions.length; i++) {
    var marker = new google.maps.Marker({
      position: markerPositions[i].position,
      map: map,
      icon: markerPositions[i].icon,
      animation : google.maps.Animation.DROP

    });
  }    
   }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        var errorDiv = document.createElement('div');
        errorDiv.innerHTML = "Error: The Geolocation service failed. Your browser doesn't support geolocation.";
        document.body.appendChild(errorDiv);
      }
   
</script>


</div>
</div>

<br>
<h2>Pictures:</h2>
{{#each listing.image}}
<img src="http://localhost:3000/data/uploads/{{this}}" alt="">
{{/each}}


<br><br>

<h2>Share this Listing!</h2>
<div class="share-btn-container">
    <p>Share on Whatsapp:</p>
    <a href="#" class="whatsapp-btn" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>
<br><br>

<h2>Leave your Review:</h2>
<div>
    <form id="review_input_form">
    <input type="hidden" value={{listing._id}} id="listing_id_input">
    <label for="rating_select">Add Your Rating: <select name="rating_select" id="rating_select">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </label>
    <br><br>
    <label for="listing_comment_input">Add Your Comment: <br> <textarea name="listing_comment_input" id="listing_comment_input"></textarea></label>
    <br>
    <input type="submit">
    </form>
</div>
<div class="error-div hidden">
<p id="error_js_review"></p>
</div>

<div id="review_added"></div>

<br><br>


<h2>Listing Reviews:</h2>
<p>Cumulative Rating: {{cumulativeListingReviewStats.totalRating}} from {{cumulativeListingReviewStats.totalReviews}} Reviews</p>
<br>
{{#if noReviewsFound}}
<p>No Reviews Yet!</p>
{{/if}}
<ol id="current_added_reviews">
  {{#each reviews}}
    <li>Rating: {{this.rating}}<br>Comment: {{this.comment}}<br>Reviewed By: <a href = "/users/{{this.userID}}">{{this.fullName}}</a></p>
    </li>
  {{/each}}
</ol>
<br><br>



<h2>Comments/Questions on the Listing:</h2>
{{#if noComments}}
<p>No Comments Yet!</p>
{{/if}}

<ol id="current_added_comments">
  {{#each comments}}
    <li>Comment: {{this.comment}}<br>Made By: <a href = "/users/{{this.madeByUserID}}">{{this.madeByFullName}}</a></p>
    </li>
  {{/each}}
</ol>
<br>
<h2>Leave a Question or a Comment:</h2>
<div>
    <form action="/listing/addCommentOrQuestion" method="POST" id="comment_question_input_form">
    <label for= "listing_id_input"><input type="hidden" id="listing_id_input" name="listing_id_input" value="{{listing._id}}"></label>
    <label for="comment_question_input">Add your thoughts here:<br> <input type="textarea" name="comment_question_input" id="comment_question_input"></label>
    <br>
    <input type="submit">
    </form>
</div>
<div class="error-div hidden">
<p id="error_js_comment"></p>
</div>
<br><br>


<hr>
<br>

{{#if userRoleIsUser}}
<form action="/listing/report/{{listing._id}}" method="POST" id="report-listing">
  <p class="report-listing"><input class="listing-button-report" type="submit" id="reportListing" name="reportListing" value="Report this Listing"></p>
</form>
{{/if}}


{{#if userRoleIsAdmin}}
<div id="listing-admin-function">
  <p class="report-listing">You are seeing this because you have Admin Rights</p>
  <form action="/adminPortal/delete/{{listing._id}}" method="POST" id="report-listing">
    <p class="report-listing"><input class="listing-button-delete" type="submit" id="listingButtonDelete" name="listingButtonDelete" value="Delete this Listing"></p>
  </form>
</div>
{{/if}}

<br><br>







