<h1>Individual Listings Page</h1>
<p>Author name: {{user.firstName}}</p>
<p>Address: {{listing.address}}</p>
<p>{{listing.description}}</p>
<p>Price: {{listing.price}}</p>
<p>Available Space:</p>
<ul>
    <p >Length: {{listing.length}}</p>
    <p>Width: {{listing.width}}</p>
    <p>Height: {{listing.height}}</p>
    <p>Volume: {{listing.volume}}</p>
</ul>