<h1>{{listing.title}}</h1> 
<hr>
<br><br>

<h2>Listing Description:</h2>
<table id="listingTable">
    <tr>
        <td>Author</td>
        <td><a href = "/users/{{user}}">Link to user</a></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{listing.address}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{listing.price}}</td>
    </tr>
    <tr>
        <td>Available Space</td>
        <td>
            <ul>
                <li>Length: {{listing.length}}</li>
                <li>Width: {{listing.width}}</li>
                <li>Height: {{listing.height}}</li>
                <li>Volume: {{listing.volume}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Listing Start Date</td>
        <td>{{listing.listing_AvailableStartInput}}</td>
    </tr>
    <tr>
        <td>Listing End Date</td>
        <td>{{listing.listing_AvailableEndInput}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{listing.description}}</td>
    </tr>
</table>
<br>
<form action="/listing/{{listing._id}}" method="POST" id="requesting-booking">
  <input type="submit" id="requestBooking" name="requestBooking" value="Request a Booking!">
</form>
<br>
<h2>Pictures:</h2>
{{#each listing.image}}
<img src="http://localhost:3000/data/uploads/{{this}}" alt="">
{{/each}}
<br><br>

<h2>Share this Listing!</h2>
<div class="share-btn-container">
    <p>Share on Whatsapp:</p>
    <a href="#" class="whatsapp-btn" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>
<br><br>
<h2>Leave your Review:</h2>
<div>
    <form id="review_input_form">
    <input type="hidden" value={{listing._id}} id="listing_id_input">
    <label for="rating_select">Add Your Rating: <select name="rating_select" id="rating_select">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    </label>
    <br><br>
    <label for="listing_comment_input">Add Your Comment: <br> <textarea name="listing_comment_input" id="listing_comment_input"></textarea></label>
    <br>
    <input type="submit">
    </form>
</div>

<div id="review_added"></div>

<br><br>

<h2>Rating:</h2>
<p>{{cumulativeListingReviewStats.totalRating}} from {{cumulativeListingReviewStats.totalReviews}} Reviews</p>
<br>
<h2>Reviews:</h2>
{{#if noReviewsFound}}
<p>No Reviews Yet!</p>
{{/if}}
<ol id="current_added_reviews">
  {{#each reviews}}
    <li>Rating: {{this.rating}}<br>Comment: {{this.comment}}<br>Reviewed By: <a href = "/users/{{this.userID}}">Link to user</a></p>
    </li>
  {{/each}}
</ol>
<br><br>



<h2>Comments/Questions on the Listing:</h2>
{{#if noComments}}
<p>No Comments Yet!</p>
{{/if}}

<ol id="current_added_comments">
  {{#each comments}}
    <li>Comment: {{this.comment}}<br>Made By: <a href = "/users/{{this.madeByUserID}}">{{this.madeByFullName}}</a></p>
    </li>
  {{/each}}
</ol>
<br>
<h2>Leave a Question or a Comment:</h2>
<div>
    <form action="/listing/addCommentOrQuestion" method="POST" id="comment_question_input_form">
    <label for= "listing_id_input"><input type="hidden" id="listing_id_input" name="listing_id_input" value="{{listing._id}}"></label>
    <label for="comment_question_input">Add your thoughts here:<br> <input type="textarea" name="comment_question_input" id="comment_question_input"></label>
    <br>
    <input type="submit">
    </form>
</div>

<br><br>




