<h1>My Messages</h1>
<hr>
<br>

{{#each allMessages}}
<h2>Chat History With: <a href="/users/{{this.chatWith.id}}">{{this.chatWith.name}}</a></h2>
    <button class="show_chat_button">Show Chat</button>
    <button class="hide_chat_button">Hide Chat</button>

    <div class="hide_chat_div">
    {{#each this.content}}
    <ul>
        <li><a href="/users/{{this.sentByID.id}}">{{this.sentByID.name}}: </a>{{this.message}}</li>
    </ul>
    {{/each}}
    <form action="/message/newMessage/{{this.chatWith.id}}" method="POST" id="new_message_form">
        <label for="new_messageInput">Enter Your Message: <br><input type="text" class= "messageBox" id="new_messageInput" name="new_messageInput" required></label>
        <br>
        <input type="submit" class="message-submit-button">
    </form>
    </div>
<br>
<hr>
<br>
{{/each}}
