<h1>Profile Page</h1>
<hr>
<br>

<h2>Your Information:</h2>
<div>
<div id="userInformationTableDiv">
<table id="userInformationTable">
  <tr>
    <td>Name</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
  </tr>
  <tr>
    <td>Email Address</td>
    <td>{{user.emailAddress}}</td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td>{{user.phoneNumber}}</td>
  </tr>
</table>
</div>

<div>
{{#if user.image}}
<img src="http://localhost:3000/data/uploads/{{user.image}}" alt="Profile Page">
{{/if}}
</div>
</div>
<br><br>

<button style="font-size:24px" onclick="window.location.href='/profile/update';">Edit Profile <i class="fa fa-edit"></i></button>

<h2>Reviews on your listings:</h2>
<p>Cumulative Rating: {{user.rating}} from {{reviews.length}} reviews</p>
</div>
<div>
  <ol>
  {{#each reviews}}
    <li>Rating: {{this.rating}}<br>Comment: {{this.comment}}<br>Reviewed By: <a href = "/users/{{this.userID}}">Link to user</a></p>
    </li>
  {{/each}}
</ol>
{{!-- <ol>
  {{#each reviews}}
  <li>
  <table id="userInformationTable">
    <tr>
      <td>Reviewed By</td>
      <td><a href = "/users/{{this.reviewMadeBy}}">Link to user</a></td>
    </tr>
    <tr>
      <td>Rating Given</td>
      <td>{{this.rating}}</td>
    </tr>
    <tr>
      <td>Comment</td>
      <td>{{this.comment}}</td>
    </tr>
  </table>
  </li>
  {{/each}}
</ol> --}}
</div>
<br><br>

<h2>Your Uploaded Listings:</h2>
{{#if noListings}}
<p>You have no listings!</p>
{{/if}}
<ul>
  {{#each listings}}
    <li>
      <h3><a href="/listing/{{this._id}}">{{this.title}}</a></h3>
      <p>{{this.description}}</p>
      <p><img src="http://localhost:3000/data/uploads/{{this.image.[1]}}" alt="Profile Page"></p>
      <button style="font-size:16px; width:150px; height:20px;" onclick="window.location.href='/listing/update/{{this._id}}';">Edit Listing <i class="fa fa-edit-1"></i></button>
      <br><br>
      <button style="font-size:16px; width:150px; height:20px;" onclick="window.location.href='/profile/boostListing/{{this._id}}';">Boost Listing <i class="fa fa-edit-1"></i></button>
      <br><br>
      <form action="/listing/delete/{{this._id}}" method="POST" id="delete-button">
        <button class="delete-listing-button" type="submit" id="delete-button">Delete Listing <i class="fa fa-edit-1"></i></button>
      </form>
    </li>
  {{/each}}
</ul>
<br><br>


<h2>Your Saved Listings:</h2>
{{#if noSavedListings}}
<p>You have no saved listings!</p>
{{/if}}
<ul>
  {{#each savedListings}}
    <li class="homepageListings">
      <h2><a href="/listing/{{this._id}}">{{this.title}}</a></h2>
      <p>{{this.description}}</p>
      <p>Price: ${{this.price}} month</p>
      <p>Volume: {{this.volume}} cubic feet</p>
      <p class="listingPrice" hidden>{{this.price}}</p>
      <p>Start Date: {{this.listing_AvailableStartInput}}</p>
      <p>End Date: {{this.listing_AvailableEndInput}}</p>
      <p><img src="http://localhost:3000/data/uploads/{{this.image.[1]}}" alt="Profile Page"></p>
      <p class="listingVolume" hidden>{{this.volume}}</p>
      <p class="listingAvailableStartInput" hidden>{{this.listing_AvailableStartInput}}</p>
      <p class="listingAvailableEndInput" hidden>{{this.listing_AvailableEndInput}}</p>
      
      <form action="/profile/unsave/{{this._id}}" method="POST" id="unsave-button">
      <button style="font-size:16px; width:150px; height:20px;" type="submit" id="unsave-button">Unsave Listing <i class="fa fa-edit-1"></i></button>
      </form>
    </li>
  {{/each}}
</ul>

