<h1>Profile Page</h1>
<hr>
<br><br>

<h2>Your Information:</h2>
<div>
<div id="userInformationTableDiv">
<table id="userInformationTable">
  <tr>
    <td>Name</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
  </tr>
  <tr>
    <td>Email Address</td>
    <td>{{user.emailAddress}}</td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td>{{user.phoneNumber}}</td>
  </tr>
</table>
</div>
<div>
{{#if user.image}}
<img src="http://localhost:3000/data/uploads/{{user.image}}" alt="Profile Page">
{{/if}}
</div>
</div>
<br><br>

<h2>Your Reviews:</h2>
<p>Cumulative Rating: {{user.rating}} from {{reviews.length}} reviews</p>
<ol>
  {{#each reviews}}
  <li>
  <table id="userInformationTable">
    <tr>
      <td>Reviewer Name</td>
      <td>{{this.reviewMadeBy}}</td>
    </tr>
    <tr>
      <td>Rating Given</td>
      <td>{{this.rating}}</td>
    </tr>
    <tr>
      <td>Comment</td>
      <td>{{this.comment}}</td>
    </tr>
  </table>
  </li>
  {{/each}}
</ol>

<br><br>

<h2>Your Listings:</h2>
<ul>
  {{#each listings}}
    <li>
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>
    </li>
  {{/each}}
</ul>
<br><br>

<a href="listing/add">Make new listing</a>
<br>
<a href="homepage">Homepage</a>
<br>
<a href="logout">Logout</a> 

