<h1>Profile Page</h1>
<hr>
<br><br>
<a href="logout">Logout</a> 
<h2>Your Information:</h2>
<div>
<div id="userInformationTableDiv">
<table id="userInformationTable">
  <tr>
    <td>Name</td>
    <td>{{user.firstName}} {{user.lastName}}</td>
  </tr>
  <tr>
    <td>Email Address</td>
    <td>{{user.emailAddress}}</td>
  </tr>
  <tr>
    <td>Phone Number</td>
    <td>{{user.phoneNumber}}</td>
  </tr>
</table>
</div>
<div>
{{#if user.image}}
<img src="http://localhost:3000/data/uploads/{{user.image}}" alt="Profile Page">
{{/if}}
</div>
</div>
<br><br>

<h2>Reviews on your listings:</h2>
<p>Cumulative Rating: {{user.rating}} from {{reviews.length}} reviews</p>
</div>
<div>
  <button style="font-size:24px" onclick="window.location.href='/profile/update';">Edit Profile <i class="fa fa-edit"></i></button>
</div>
<div>
<ol>
  {{#each reviews}}
  <li>
  <table id="userInformationTable">
    <tr>
      <td>Reviewed By</td>
      <td><a href = "/users/{{this.reviewMadeBy}}">Link to user</a></td>
    </tr>
    <tr>
      <td>Rating Given</td>
      <td>{{this.rating}}</td>
    </tr>
    <tr>
      <td>Comment</td>
      <td>{{this.comment}}</td>
    </tr>
  </table>
  </li>
  {{/each}}
</ol>
</div>
<br><br>

<h2>Your Listings:</h2>
{{#if noListings}}
<p>You have no listings!</p>
{{/if}}
<ul>
  {{#each listings}}
    <li>
      <h3><a href="/listing/{{this._id}}">{{this.title}}</a></h3>
      <p>{{this.description}}</p>
    </li>
  {{/each}}
</ul>
<br><br>


