<h1>Boost a Listing</h1>
<hr>
<br><br>

{{#if success}}
<p class= "reviewAdded-success"> Successfully updated Listing!</p>
{{/if}}

<p class="addListing-form">You currently pay ${{listing.sponsorPay}} per month for this Listing</p>
<br>
<div class="addListing-form">
    <form action="/profile/boostListing/{{listing._id}}" method="POST" id="addSponsorPay-form">
        <label for="sponsorPayInput">New monthly pay: <input type="text" id="sponsorPayInput" name="sponsorPayInput"required></label>
        <div id="error" class="error-div hidden">
                {{#if error}}
                    <p>{{error}}</p>
                {{/if}}
        </div>
        <br>
        <input type="submit" class="submit-button">
        <br><br>
    </form>
</div>


<h2>You are boosting the following listing: <a href ="/listing/{{listing._id}}">{{listing.title}}</a></h2>
<table id="listingTable">
    <tr>
        <td>Author</td>
        <td><a href = "/users/{{user}}">Link to user</a></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{listing.address}}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>${{listing.price}} per month</td>
    </tr>
    <tr>
        <td>Available Space</td>
        <td>
            <ul>
                <li>Length: {{listing.length}}</li>
                <li>Width: {{listing.width}}</li>
                <li>Height: {{listing.height}}</li>
                <li>Volume: {{listing.volume}}</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>Listing Start Date</td>
        <td>{{listing.listing_AvailableStartInput}}</td>
    </tr>
    <tr>
        <td>Listing End Date</td>
        <td>{{listing.listing_AvailableEndInput}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{listing.description}}</td>
    </tr>
</table>
<br>
<h2>Pictures:</h2>
{{#each listing.image}}
<img src="http://localhost:3000/data/uploads/{{this}}" alt="">
{{/each}}
<br><br>
